.container-fluid {
  background-color: rgb(123, 188, 182);
  padding: 10px;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.hero-content {
  height: 200px;
  vertical-align: middle;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  text-align: center;
}
#opening-paragraph {
  padding: 20px;
  background-color: rgb(67, 120, 114);
  border-radius: 10px;
  margin-bottom: 10px;
}
#section2 {
  padding-bottom: 20px;
  padding-top: 20px;
}
.card {
  box-shadow: -3px 6px 5px 0px rgba(176,164,176,1);
  transition: all .3s ease-in-out;
}
.card:hover {
  box-shadow: -3px 18px 20px 0px rgba(99,89,99,1);
}
#section3 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.equity-text {
  padding-bottom: 8px;
}
.inclusion-text {
  padding-bottom: 8px;
}
.card {
  background-color: rgba(67, 120, 114, 0.822);
}
#equity-img {
  height: 534px;
  overflow: hidden;
}
.image {
    width: 80vw;
    height: auto;
    position:relative;
    margin-left: 110px;
    border-radius: 10px;
    margin-bottom: 30px;
}
#section4 {
  margin-bottom: 20px;
}
.accordion-button {
    background-color: rgb(67, 120, 114);
    font-weight: bold;
}
#collapseOne {
    background-color: rgba(123, 188, 181, 0.692);
}
#icon1 {
  margin: 10px;
}
#icon2 {
  margin: 10px;
}
#icon3 {
  margin: 10px;
}
#section5 {
  background-color: rgba(46, 27, 153, 0);
  margin-top: 20px;
  margin-bottom: 50px;
}
#list {
  margin-top: 20px;
}
.woodenimage {
  position: absolute;
  left: 70%;
  width: 220px;
  height: auto;
  border-radius: 10px;
}
.section5header {
  text-decoration: underline;
}
#Resources {
  text-align: center;
  border-radius: 10px;
  background-color: rgb(123, 188, 182);
  padding: 20px;
  margin-top: 1px;
}
#footer {
  background-color: rgba(51, 89, 85, 0.689);
  padding: 10px;
  overflow: visible;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:max-content;
  z-index: 1000;
}
.bi {
  opacity: 0.85;
}