
.button1 {
    border-width: 10px;
    border-color: aqua;
}
.container-fluid{
background-color:rgb(123,188,182);
padding: 10px;
overflow:visible;
position:fixed;
top: 0;
width: 100%;
border-bottom: 5px;
border-color: black;
}
#opening-paragraph {
    margin-top: 110px;
    padding: 20px;
    background-color: rgb(67, 120, 114);
    border-radius: 10px;
}
